{% extends 'bass.html' %}

{% block head %}
<div class="progress">
    <div id='progressBar' class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0"
        aria-valuemax="100">
        <script> $("#progressBar").css("width", "{{ percent }}%"); </script>
    </div>
</div>
{% endblock %}

{% block body %}
<form action="/reading" method="POST" enctype="multipart/form-data">

        <div id="col-a">
            <code><textarea readonly class="form-control" id="code" style="font-size:18px;" rows="40" cols="30">{{code}}</textarea></code>
            <script> var code = CodeMirror.fromTextArea(document.getElementById("code"),
                    {
                        mode: "text/x-java",
                        lineNumbers: true,
                        matchBrackets: true,
                        smartIndent: true,
                        indentUnit: 4
                    }
                    );
            </script>
        </div>
        <div id="col-b" style="margin-top:80px;">
            <p align="center"><strong>Summary</strong></p>
            <textarea readonly class="form-control" id="summary" style="font-size:18px; font-family: Arial; margin-left:20px; width: 685px;" 
            rows="3" width="1">{{summary}}</textarea>
            <p style="font-size:18px;margin-top:100px;margin-left:15px;"><u>Please indicate the level to which you agree with the following statements</u>:</p>
            <div style="margin-left:30px;">
                <p>Independent of other factors, I feel that the summary is accurate.</p>
                <label for="s_disagree-1"> Strongly disagree<br />
                    <input type="radio" id="s_disagree-1" name="accurate" value="s_disagree">
                </label>
                <label for="disagree-1"> Disagree<br />
                    <input type="radio" id="disagree-1" name="accurate" value="disagree">
                </label>
                <label for="neutral-1"> Neutral<br />
                    <input type="radio" id="neutral-1" name="accurate" value="neutral">
                </label>
                <label for="agree-1"> Agree<br />
                    <input type="radio" id="agree-1" name="accurate" value="agree">
                </label>
                <label for="s_agree-1"> Strongly agree<br />
                    <input type="radio" id="s_agree-1" name="accurate" value="s_agree">
                </label>
                <br>
            </div>

            <!-- add another positive rating-->

            <div style="margin-left:30px; margin-top:20px;">
                <br>
                <p>The summary is missing some important information, which limits
                    my <br> understanding.</p>
                <label for="s_disagree-2"> Strongly disagree<br />
                    <input type="radio" id="s_disagree-2" name="missing" value="s_disagree">
                </label>
                <label for="disagree-2"> Disagree<br />
                    <input type="radio" id="disagree-2" name="missing" value="disagree">
                </label>
                <label for="neutral-2"> Neutral<br />
                    <input type="radio" id="neutral-2" name="missing" value="neutral">
                </label>
                <label for="agree-2"> Agree<br />
                    <input type="radio" id="agree-2" name="missing" value="agree">
                </label>
                <label for="s_agree-2"> Strongly agree<br />
                    <input type="radio" id="s_agree-2" name="missing" value="s_agree">
                </label>
                <br>
            </div>

            <div style="margin-left:30px; margin-top:20px;">
                <br>
                <p>The summary contains a lot of unnecessary information.</p>
                <label for="s_disagree-3"> Strongly disagree<br />
                    <input type="radio" id="s_disagree-3" name="unnecessary" value="s_disagree">
                </label>
                <label for="disagree-3"> Disagree<br />
                    <input type="radio" id="disagree-3" name="unnecessary" value="disagree">
                </label>
                <label for="neutral-3"> Neutral<br />
                    <input type="radio" id="neutral-3" name="unnecessary" value="neutral">
                </label>
                <label for="agree-3"> Agree<br />
                    <input type="radio" id="agree-3" name="unnecessary" value="agree">
                </label>
                <label for="s_agree-3"> Strongly agree<br />
                    <input type="radio" id="s_agree-3" name="unnecessary" value="s_agree">
                </label>
            </div>
            
            <div style="margin-left:30px; margin-top:20px;">
                <br>
                <p><br />The summary is written in easily readable English.</p>
                <label for="s_disagree-4"> Strongly disagree<br />
                    <input type="radio" id="s_disagree-4" name="readable" value="s_disagree">
                </label>
                <label for="disagree-4"> Disagree<br />
                    <input type="radio" id="disagree-4" name="readable" value="disagree">
                </label>
                <label for="neutral-4"> Neutral<br />
                    <input type="radio" id="neutral-4" name="readable" value="neutral">
                </label>
                <label for="agree-4"> Agree<br />
                    <input type="radio" id="agree-4" name="readable" value="agree">
                </label>
                <label for="s_agree-4"> Strongly agree<br />
                    <input type="radio" id="s_agree-4" name="readable" value="s_agree">
                </label>
                <br>
            </div>           
        </div>

        <div>
            <input type="submit" value="next" class="btn button form-input" style="position:relative; left: 575px; margin-top:15px;">
        </div>
</form>


{% endblock %}